<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in items %}
    <li class="level-0" data-size="{{ item.size|int // 1024 }}">
        <div class="name">{{ item.name }}</div>
        <div class="size">
            {% if item.size < 1024 %}
                {{ item.size }} Б
            {% elif item.size < 1024 * 1024 %}
                {{ (item.size / 1024)|round(1) }} КБ
            {% else %}
                {{ (item.size / (1024 * 1024))|round(1) }} МБ
            {% endif %}
        </div>
    </li>
    {% endfor %}

</body>
</html>