<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Disk Analyzer</title>
    <link rel="stylesheet" href="/static/style_analizer.css">
</head>
<body>
    <h1>Анализатор дискового пространства</h1>
    {% if is_drive_list %}
    <h2>Выберите диск:</h2>
    <ul>
        {% for d in items %}
            <li><a href="/analyzer?path={{ d | urlencode }}">{{ d }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <a href="/analyzer">← Назад к списку дисков</a><br>
        <h3>Путь: {{ path }}</h3>

        {% if error %}
            <p style="color:red">{{ error }}</p>
        {% endif %}

        <ul>
            {% for item in items %}
                {% if item.type == "dir" %}
                    <li class="folder">
                        <a href="/analyzer?path={{ (path ~ '/' ~ item.name) | urlencode }}">{{ item.name }}/</a>
                    </li>
                {% else %}
                    {% set size = item.size %}
                    {% if size < 1000000 %}
                        <li class="file small">{{ item.name }} ({{ (size/1024)|round(1) }} КБ)</li>
                    {% elif size < 10000000 %}
                        <li class="file medium">{{ item.name }} ({{ (size/1024/1024)|round(1) }} МБ)</li>
                    {% else %}
                        <li class="file large">{{ item.name }} ({{ (size/1024/1024)|round(1) }} МБ)</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>