<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Файловый Анализатор</title>
    <link rel="stylesheet" href="/static/style_analizer.css">
</head>
<body>
    <h1>Анализатор дискового пространства</h1>
    <h2>Позволяет определить, какие файлы и папки занимают больше всего места.</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if not is_drive_list %}
        {% if parent_path %}
            <a href="/analizer/{{ parent_path | urlencode }}" class="back-btn">⬅ Назад</a>
        {% endif %}
        <a href="/analizer" class="back-btn">🏠 К списку дисков</a>
    {% endif %}

    {% if is_drive_list %}
        <h3>Диски:</h3>
        <ul>
            {% for drive in items %}
                <li class="item">
                    <div class="name">
                        💽 <a href="/analizer/{{ drive.name | urlencode }}">{{ drive.name }}</a>
                    </div>
                    <div class="size">
                        {% if drive.size < 1024 %}
                            {{ drive.size }} байт
                        {% elif drive.size < 1024 * 1024 %}
                            {{ (drive.size / 1024)|round(1) }} КБ
                        {% elif drive.size < 1024 * 1024 * 1024 %}
                            {{ (drive.size / (1024 * 1024))|round(1) }} МБ
                        {% else %}
                            {{ (drive.size / (1024 * 1024 * 1024))|round(2) }} ГБ
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Папка: {{ path }}</h3>
        <ul>
            {% for item in items %}
            <li class="item">
                <div class="name">
                    {% if item.type == 'dir' %}
                        📁 <a href="/analizer/{{ (path.rstrip('/') + '/' + item.name) | urlencode }}">{{ item.name }}</a>
                    {% else %}
                        📄 {{ item.name }}
                    {% endif %}
                </div>
                <div class="size">
                    {% if item.size < 1024 %}
                        {{ item.size }} байт
                    {% elif item.size < 1024 * 1024 %}
                        {{ (item.size / 1024)|round(1) }} КБ
                    {% elif item.size < 1024 * 1024 * 1024 %}
                        {{ (item.size / (1024 * 1024))|round(1) }} МБ
                    {% else %}
                        {{ (item.size / (1024 * 1024 * 1024))|round(2) }} ГБ
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
